/** PROPIEDADES PERSONALIZADAS **/

:root{
    --fuentePrincipal: 'Lusitana', serif;
    --fuenteSecundaria: 'Inter', sans-serif;

    --vinoFondo: #630606;
    --white: #F1F2F6;
    --cardGryffindor: #E8424C;
    --cardSlytherin: #16A085;
    --cardRavenclaw: #227093;
    --cardHufflepuff: #ECB233;
    --cardOthers: #84817A;
    --cardHuman: #A29BFE;
}

/** AJUSTES GENERALES DEL CONTENIDO **/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: #232741;
    margin: 0;
}

/** HEADER **/

.header-imgbg{
    width: 100%;
    height: 20rem;
    margin-top: -1rem;
}
#img-header{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .header-imgbg{
        width: 100%;
        height: 35rem;
        margin-top: -1rem;
    }
    #img-header{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
#img-logo{
    max-width: 50%;
    margin-left: 1rem;
    margin-top: -4rem;
}
@media (min-width: 1200px) {
    #img-logo{
        max-width: 25%;
        margin-left: 2rem;
        margin-top: -6rem;
    }
}


/** PERSONAJES **/

aside{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

@media (min-width: 768px) {
    aside{
        max-width: 30%;
        height: 35rem;
        border-radius: 16px;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(3px); 
        padding-right: 22rem;
        border-radius: 2rem;
    }
    
}


/** MAIN - DISTRIBUCIÓN **/
main{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: column;
    max-width: 80%;
   
   
}
@media (min-width: 768px) {
    main{
        flex-direction: row;
    }
    section{
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: -2rem;
      
    }
}

/** TARJETAS **/

#card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.cardColors{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}
.color-Red{
    background-color: var(--cardGryffindor);
    width: 27rem;
    height: 8rem;
    border-radius: 2rem 2rem 0 0;
}
.color-Blue{
    background-color: var(--cardRavenclaw);
    width: 27rem;
    height: 8rem;
    border-radius: 2rem 2rem 0 0;
}
.color-Green{
    background-color: var(--cardSlytherin);
    width: 27rem;
    height: 8rem;
    border-radius: 2rem 2rem 0 0;
}
.color-Yellow{
    background-color: var(--cardHufflepuff);
    width: 27rem;
    height: 8rem;
    border-radius: 2rem 2rem 0 0;
}
.color-Species{
    background-color: var(--cardOthers);
    width: 27rem;
    height: 8rem;
    border-radius: 2rem 2rem 0 0;
}
.color-Human{
    background-color: var(--cardHuman);
    width: 27rem;
    height: 8rem;
    border-radius: 2rem 2rem 0 0;
}
.colorWhite{
    background-color: var(--white);
    width: 27rem;
    height: 28rem;
}
.cardImg{
    position: absolute;
    z-index: 2;
    width: 14rem;
    height: 14rem;
    align-self: center;
    margin-top: 2rem;
    margin-left: -1rem;
}
.cardImgOthers{
    position: absolute;
    z-index: 3;
    width: 10rem;
    height: 12rem;
    align-self: center;
    margin-top: 5rem;
    margin-left: -1rem;
}
.cardText{
    position: absolute;
    z-index: 4;
    text-align: center;
    width: 27rem;
    margin-top: 13rem;
}
.title{
    font-size: 2rem;
}
.textObj{
    font-size: large;
}

@media (min-width: 1200px) {
    .color-Red{
        width: 24rem;
        height: 9rem;
    }
    .color-Blue{
        width: 24rem;
        height: 9rem;
    }
    .color-Green{
        width: 24rem;
        height: 9rem;
    }
    .color-Yellow{
        width: 24rem;
        height: 9rem;
    }
    .color-Species{
        width: 24rem;
        height: 9rem;
    }
    .color-Human{
        width: 24rem;
        height: 9rem;
    }
    .colorWhite{
        width: 24rem;
        height: 28rem;
    }
    .cardImg{
        position: absolute;
        z-index: 2;
        align-self: center;
        margin-top: 1.8rem;
        margin-left: 0;
    }
    .cardImgOthers{
        position: absolute;
        z-index: 2;
        align-self: center;
        margin-top: 3rem;
        margin-left: 0;
    }
    .cardText{
        position: absolute;
        z-index: 3;
        text-align: center;
        width: 24rem;
        margin-top: 13rem;
    }
    .title{
        font-size: 2rem;
    }
    .textObj{
        font-size: large;
    }
}

/* HOVER TARJETAS */

#card{
  overflow: hidden;
  transition: all .2s ease-in-out;
}

#card:hover{
  -webkit-transform: scale(1.1);transform:scale(1.1);
  border-radius: 2rem;

}

/* FONDO ANIMADO PARTICULAS */

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%;
    background-color: #232741; 
    border-top: 0;
}

/* SIDENAV */

#mySidenav p{
    height: 5rem;
    position: fixed;
    left: -162px;
    transition: 0.6s;
    padding: 15px;
    width: 210px;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav p:hover{
    left: 0;
    cursor: pointer;
    color: var(--white);
    
}
.witch-icon{
    height: 3rem;
    width: 3rem;
}

#characters{
    top: 20px;
    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.47); 
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding-left: 5rem;
}
.sort-icon{
    height: 3rem;
    width: 3rem;
}
  
#alphabetic{
    top: 80px;
    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.47);
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
  
#alphabeticReverse{
    top: 140px;
    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.47);  
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#search{
    top: 200px;
    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.47); 
    padding-left: 0; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-icon{
    height: 3rem;
    width: 3rem;

}

input::placeholder{
    color: var(--white);
}
  
input{
    border-radius: 1rem;
    border: solid var(--white);
    background: transparent;
    color: var(--white);
    font-size: large;
    width: 15rem;
    margin-right: 1rem;
}

@media (min-width: 768px){
    /* SIDENAV */

    #mySidenav p{
        height: 5rem;
        position: fixed;
        left: -162px;
        transition: 0.6s;
        padding: 10px;
        width: 210px;
        text-decoration: none;
        font-size: 2.5rem;
        color: white;
        border-radius: 0 5px 5px 0;
    }

    #mySidenav p:hover{
        left: 0;
        cursor: pointer;
        color: var(--white);
        
    }
    .witch-icon{
        height: 3rem;
        width: 3rem;
    }

    #characters{
        top: 20px;
        background: rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.47); 
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: large;
        padding-left: 5rem;
    }
    .sort-icon{
        height: 3rem;
        width: 3rem;
    }
    
    #alphabetic{
        top: 80px;
        background: rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.47);
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    
    #alphabeticReverse{
        top: 140px;
        background: rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.47);  
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    #search{
        top: 200px;
        background: rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.47); 
        padding-left: 0; 
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .search-icon{
        height: 3rem;
        width: 3rem;

    }

    input::placeholder{
        color: var(--white);
    }
    
    input{
        border-radius: 1rem;
        border: solid var(--white);
        background: transparent;
        color: var(--white);
        font-size: large;
        width: 15rem;
        margin-right: 1rem;
    }
}






